main{
	flex:1;
	overflow-y: scroll;
	margin:0 0.09rem;
}
.header{
	display:block;
	height:.40rem;
	padding:.12rem 0 .05rem 0;
}
.header img{
	width:.2rem;
	height:.2rem;
	float:right;
}
.me{
	margin:.32rem 0 .13rem 0;
	box-shadow:inset 5px 5px 5px #e9e9e9, inset -5px -5px 5px #e9e9e9;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position:relative;
	padding-top:.65rem;
	padding-bottom:.47rem;
}
.pic{
	width:.74rem;
	height:.79rem;
	position:absolute;
	top: -18%;
    left: 40%;
}
.pic img{
	width:100%;
	height:.79rem;
}
.me>p{
	font-size:.15rem;
	color:#060606;
	line-height:.51rem;
	font-weight:700;
}
.me>a:nth-child(3){
	padding:0 .1rem;
	font-size:.16rem;
	color:#fff;
	line-height:.3rem;
	background:#000;
	position:absolute;
	bottom:-2%;
	left:38%;
}

.shop{
	padding:0 .11rem 0 .16rem;
	box-shadow:inset 5px 5px 5px #e9e9e9, inset -5px -5px 5px #e9e9e9;
}

.s1{
	height:.54rem;
	display:flex;
	align-items: center;
	justify-content: space-between;
	border-bottom:2px solid #dfdfdf;
}
.s1 li:nth-child(1){
	flex:1;
	line-height:.54rem;
	height:100%;
	font-size:.15rem;
	color:#454545;
}
.s1 li:nth-child(2){
	width:1.04rem;
	display:flex;
	height:100%;
	align-items: center;
	justify-content: flex-end;
}
.s1 li:nth-child(2) a{
	color:#bcbcbc;
	font-size:.12rem;
}
.s1 li:nth-child(2) img{
	width:.06rem;
	height:.11rem;
}
.s2{
	display: flex;
    align-items: center;
    justify-content: space-around;
}
.s2 li{
	width:20%;
	display:flex;
	    padding-top: .15rem;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.s2 li img{
	width:.3rem;
	height:.3rem;
}
.s2 li span{
	display:block;
	font-size:.12rem;
	color:#111111;
	line-height: .47rem;
}
.s3{
	height:.52rem;
	display:flex;
	align-content: space-between;
	align-items: center;
	border-bottom:2px solid #e6e6e6;
}
.mei{
	position:relative;
}
.mei::before{
	display:block;
	content:"";
	position:absolute;
	width:8px;
	height:8px;
	top:.16rem;
	left:.47rem;
	border-radius:50%;
	background:red;
}
.s3 li{
	line-height: .52rem;
	font-size:.14rem;
	color:#343434;
}
.s3 li:nth-child(1){
	flex:1;
}
.s3 li:nth-child(2){
	width:.15rem;
}
